.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid blue;
  margin-bottom: 5px;
}
.friendList {
  width: 30%;
  padding: 10px;
}
.avatar {
  margin-right: 20px;
  margin-left: 10px;
}
.isOnline {
  border-color: transparent;
  display: block;
  border-style: solid;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
